@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
/* font-family: 'Raleway', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --intro-email: hsl(217, 28%, 15%);
  --main: hsl(218, 28%, 13%);
  --footer: hsl(216, 53%, 9%);
  --testimony: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --white: hsl(0, 0%, 100%);
}

/*  Typography  */
.head-h2,
.head-p,
main h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  color: var(--white);
}

main p,
footer p {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
}

/*  Header navigation section  */
li,
a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--white);
}
a {
  display: inline-block;
  padding: 1em 0em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  padding-bottom: 8em;
  background-color: var(--intro-email);
}

.nav-link {
  list-style: none;
}

.nav-link li {
  display: inline-block;
  padding: 0 20px;
  position: relative;
}
.nav-link a:hover {
  color: var(--cyan);
}
.nav-link a:hover::after {
  width: 100%;
  left: 0;
}
.nav-link a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--cyan);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

/*   Header main section  */

.header-main {
  text-align: center;
  margin: auto;
  background-color: var(--intro-email);
}
/*
.header-main h2,
p,
.head-btn {
  position: relative;
  z-index: 1;
}*/
/*
.head-h2::before {
  content: url(images/bg-curvy-desktop.svg);
  position: relative;
  max-width: 100%;
  top: 15em;
  right: 14em;
  z-index: -1;
}*/
.container {
  max-width: 100%;
  height: 1050px;
  margin: 0 auto;
}
.head-img {
  padding: 2em;
}
.head-h2 {
  font-size: 2rem;
  margin-bottom: 1em;
  padding: 0 30%;
  line-height: 1.5;
  position: relative;
  z-index: 1;
}
.head-p {
  padding: 0 32%;
  line-height: 1.5;
  margin-bottom: 1em;
  position: relative;
  z-index: 1;
}
.head-btn {
  display: inline-block;
  border: 1px solid var(--cyan);
  padding: 0.5em 4em;
  background-color: var(--cyan);
  border-radius: 50px;
  color: var(--white);
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.head-btn:hover {
  letter-spacing: 5px;
  transition: 0.5s;
}
.img-curve-desktop {
  max-width: 100%;
  position: relative;
  bottom: 12em;
  padding-bottom: 3em;
  position: relative;
  z-index: 0;
}

/* Main section */
main {
  background-color: var(--main);
}
/*   Feature cards section  */
.features {
  padding: 8em 2.7em 13em;
}

.feature-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 88em;
}
.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 35em;
}
.feature-card-upper {
  margin-bottom: 7.8em;
}
.feature-heading {
  margin-top: 1.6em;
  margin-bottom: 0.9em;
}
.feature-card-img-container {
  max-width: 8.4em;
  min-height: 8.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-card-img {
  width: 100%;
}
.feature-card + .feature-card,
.feature-card-upper {
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
}

/*  Productive Section  */
.productive {
  padding: 2em 5em 3em 5em;
}
.productive-container {
  display: flex;
  justify-content: space-between;
}
.productive-img + .productive-title {
  padding-left: 7%;
}
.feature-card-img {
  max-width: 100%;
}
.productive-title h2 {
  font-size: 2.2rem;
  padding-right: 28%;
  margin-bottom: 0.5em;
  padding-top: 2.5em;
}
.productive-p {
  margin-bottom: 0.7em;
}
.productive-works {
  color: var(--cyan);
  border-bottom: 1px solid currentcolor;
}
.productive-works::after {
  content: url(images/icon-arrow.svg);
}
.productive-works:hover {
  text-decoration: none, color var(--cyan);
  font-weight: bold;
}
/*  Testimonials and access Section  */
.testimonials {
  display: flex;
  justify-content: space-between;
  max-width: 88em;
  margin: 0 auto;
  padding: 8em 7em 10em 7em;
  position: relative;
  z-index: 1;
}
.testimony1,
.testimony2,
.testimony3 {
  width: 26em;
  background-color: var(--testimony);
  font-size: 0.875rem;
  padding: 2em;
  line-height: 1.5;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.1);
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.testimony1 {
  position: relative;
}
.testimony1:hover,
.testimony2:hover,
.testimony3:hover {
  transform: rotate(10deg);
}
.testimony1 .testi-p::before {
  content: url(images/bg-quotes.png);
  position: absolute;
  left: -0.5em;
  top: -2.5em;
  z-index: -1;
}
.testi-p {
  padding-bottom: 1em;
}

.testimonials img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.user-avatar {
  display: flex;
}
.profile-cont {
  padding-left: 0.5em;
}

.profile-name {
  font-size: 1em;
}
.profile-position {
  font-size: 0.6em;
}

.access-ready {
  max-width: 60%;
  background-color: var(--testimony);
  padding: 5em 2em 3em 2em;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  top: 8em;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
}
.access-title h2 {
  padding-bottom: 1em;
  font-size: 2.2rem;
}
.access-title p {
  max-width: 90%;
  padding-bottom: 3em;
  margin: 0 auto;
  font-size: 0.925rem;
}

.email {
  display: inline-block;
  width: 60%;
  font-size: 2.125rem;
  border-radius: 50px;
  margin-right: 1em;
}
input::placeholder {
  font-size: 0.925rem;
  padding-left: 2em;
  opacity: 0.7;
  position: relative;
  top: -0.5em;
}
.subscribe-btn {
  border: 1px solid var(--blue);
  padding: 1em 2em;
  background-color: var(--blue);
  border-radius: 50px;
  font-size: 0.925rem;
  font-weight: 700;
  position: relative;
  top: -0.5em;
  transition: all 0.5s;
}
.subscribe-btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.subscribe-btn span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.subscribe-btn:hover span {
  padding-right: 2em;
}
.subscribe-btn:hover span:after {
  opacity: 1;
  right: 0;
}

/*  Footer Section  */
footer {
  background-color: var(--footer);
  padding: 12em 2em 5em 6em;
  margin: 0 auto;
}
.footer-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}
.address {
  width: 30em;
  padding: 2em;
}
.address p {
  line-height: 1.5;
}
.phone {
  padding-bottom: 1em;
}
.contacts {
  width: 28em;
  padding: 2em;
}
.contents1,
.contents2 {
  width: 15em;
  padding: 2em 1em;
  line-height: 2;
}
.socials {
  width: 17.2em;
  padding: 2.5em;
}

.contents1 ul,
.contents2 ul {
  list-style: none;
}
footer a:hover,
.socials i:hover {
  color: var(--cyan);
}
footer a:hover {
  text-decoration: underline;
}

i {
  color: var(--white);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #ffffff;
  padding: 8px;
  margin-left: 0.5em;
}
.img-location,
.img-phone,
.img-email {
  position: relative;
  right: 2em;
  top: 1.5em;
}
